.form {
  width: 400px;
  margin:auto;
  background: white;
  border-radius: 10px;
  margin-top: 1em;
  margin-bottom: 6em;
  padding: 5em;
 /* position: absolute;*/
  z-index: 1;
 /* left: 25%;*/
    position: relative;
    /*top: 200px;*/
}



.btn-primary {
  box-shadow: 0; 
  border: none; 
  background-color: #3c475c;
  border-color: #3c475c;
  color: #ffffff;
  outline: none;
  -webkit-font-smoothing: subpixel-antialiased;
  transition: all .5s;
  padding: 10px 19px;
  font-size: 17px;
  line-height: 1.471;
  width: 30%;
  border-radius: 10px;
  
  margin: auto;
  margin-top: 1.44em;
  margin-bottom: .55em;
  display: inherit;
}

.btn-primary:hover {
  background-color: #ffbd28;
}

.form-group {
  position: relative;
  opacity: 1;
  transition: .6s;
}

.input-field-icon {
  color: #bfc9ca;
  font-size: 18px;
  position: absolute;
  right: 10px;
  bottom: 12px;
  transition: .6s;
}

.form-control {
  transition: opacity .6s;
  opacity: 1;
  border: 0;
  border-bottom: 1px solid #bdc3c7;
  border-radius: 0;
  background: white;
  font-size: 15px;
  line-height: 1.467;
  padding: 4px;
  height: 42px;
  -webkit-appearance: none;
}

.form input, textarea {
  transition: all 800ms;
 
  resize: none;  /* removes the resize handle */
  overflow: auto; /* removes default scrolling bars in IE */
  outline:none; 
  font-family:inherit; 
  box-sizing:border-box;
  width: 100%;
  padding: 0px 4px;
  color: #34495e;
  margin-top: 1.25em;
}


.has-error input, .has-error textarea {
  color: #e74c3c;
  border-color: #e74c3c;
}

.has-error .input-field-icon {
  color: #e74c3c;
}

.has-success input, .has-success textarea {
  color: #2ecc71;
  border-color: #2ecc71;
}

.has-success .input-field-icon {
  color: #2ecc71;
}


.form input:focus,.form textarea:focus {
  border-color:#3c475c;
  color: #34495e;
}

.form input:focus + .input-field-icon {
  color: #34495e;
}

.form textarea.form-control {
  height: 120px !important;
  transition: .6s;
}

.form textarea.form-control:focus {
  height: 200px;
  border-color: #3c475c;
}

.social {
  display: block;
  margin: auto;
  width: 250px;
}

.social li {
  display: inline-block;
  list-style: none;
  margin: auto;
  margin-right: 10px;
}

.social li a {
  display:block;
  text-decoration: none;
  color: #999;
  border: 2px solid #999;
  border-radius: 100%;
  font-size: 26px;
  width: 34px;
  padding: 3px;
  text-align: center;
  transition: all .4s;
}

.social li a:hover {
  background: #999;
  color: white;
}

.social li a span {
  margin-top: 4px;
  text-align: center;
}


@media (max-width: 600px) {
  .form {
    width: 90%;
    margin-top: 12%;
  }
}

.shadow-3 {
  background: #e8e8e8;
  text-align: center;
}
.shadow-3  {
  background: white;
  display: inline-block;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}