body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    padding: 0;

}

ul {
    padding: 0;
}

section {
    background-color: #89909c;
}

nav {
    /*  position: fixed;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* background: #4f596c;*/
    background: transparent;
    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, .1);
    /*  border: 1px solid rgba(0, 0, 0, .1);*/
    display: flex;
    justify-content: center;
    z-index: 10;
}

.faq-nav {
    background-color: #4e596b;
}

.main-div {
    max-width: 1950px;
    margin: 0 auto;
    position: relative;
}


nav ul {
    list-style: none;
    position: relative;
    float: right;
    display: inline-table;
}

nav ul li {
    float: left;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.follow-buttons ul li:hover {
    background: rgba(0, 0, 0, .15);
}

.follow-buttons ul li:hover>ul {
    display: block;
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding-top: 30px;
}

.follow-buttons ul li:hover li {
    display: block;
    background-color: #4F596C;
    border: none;
    border-radius: 0px;
    box-shadow: none;
}

.follow-buttons ul li:hover .drop a {
    padding: 10px 26px;
}

.follow-buttons ul li:hover .drop-ul li:nth-child(1) {
    border-radius: 10px 10px 0 0;
}

.follow-buttons ul li:hover .drop-ul li:nth-child(3) {
    border-radius: 0 0 10px 10px;
}

.drop-ul li:nth-child(1):hover {
    background-color: #FFBB00
}

.drop-ul li:nth-child(2):hover {
    background-color: #FFBB00
}

.drop-ul li:nth-child(3):hover {
    background-color: #FFBB00
}

.follow-buttons li:nth-child(1) {
    background-color: #616a7b4d;
    border-color: #616a7b;
}




/*.follow-buttons li:nth-child(2) {
    background-color: transparent;
}*/

.telegram {
    position: relative;
    /*  width: 90px;*/
    text-align: right;
    background-color: #ffbb00 !important;
    border: 1px solid #ffbb00 !important;
}

.telegram:hover {
    background: #3c475c !important;
}

.telegram:hover a {
    color: #ffffff !important;
}

.telegram a {
    color: #3C475C !important;
}

.telegram img {
    position: absolute;
    left: 7px;
    width: 23px;
    top: 7px;
}

nav ul li {
    float: left;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

nav ul li a {
    display: block;
    padding: 5px 18px;
    color: #ffffff;
    font-size: 1.1em;
    text-decoration: none;
}

.menu ul li a:hover {
    background-color: #ffbb00;
    border-radius: 10px;
}

nav ul ul {
    display: none;
    background: #fff;
    position: absolute;
    top: 100%;
    box-shadow: -3px 3px 10px -2px rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .1);
}

nav ul ul li {
    float: none;
    position: relative;
}

nav ul ul li a {
    padding: 15px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}

nav ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
}

.dr {
    visibility: hidden;
}

.follow-buttons ul li {
    border: 1px solid #ecf1f6;
    border-radius: 7px;
    margin-right: 25px;
    background-color: #4F596C;
    /* box-shadow: 0px 0px 12px 0px #d7d7d7;*/
}


.btn-documents {
    background-color: #616a7b;
    border: 0px !important;
}

.logo {
    width: 20%;
    height: 30px;
    text-align: right;
    padding-top: 15px;
    padding-left: 20px;
}

.logo img {
    padding-right: 30px;
}

.follow-buttons {
    width: 30%;
    /*background-color: blue;*/
}

.headers {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 50px;
}

.headers-content {
    display: inline-block;
    letter-spacing: 0.5px;
}

.headers-content span {
    padding: 0 10px;
}

.headers-hr {
    color: #d2d2d2;
    background-color: #d2d2d2;
    height: 2px;
    border: 0;
    border-radius: 5px;
}

.subheaders-content {
    width: 100%;
}

.subheaders {
    width: 100%;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    padding-top: 50px;
}

.description {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.padding-botom60px {
    padding-bottom: 50px;
}

.headers-grey {
    color: #3c475c;
}

.headers-grey-lite {
    color: #b0b5bd;
}

.headers-white {
    color: #ffffff;
}

.headers-orange {
    color: #ffbb00;
}

.roadmap {
    position: relative;
    background-color: #3c475c;
    color: white;
    padding-bottom: 160px;
}

.roadmap img {
    width: 80%;
    max-width: 1000px;
    padding-left: 6.3%;
}

.step1 {
    position: absolute;
    top: 55%;
    left: 21%;
    height: 200px;
    width: 230px;
    text-align: center;
}

.step2 {
    position: absolute;
    top: 62%;
    left: 48%;
    height: 200px;
    width: 200px;
    text-align: center;
}

.step3 {
    position: absolute;
    top: 62%;
    left: 73%;
    height: 200px;
    width: 200px;
    text-align: center;
}

.step4 {
    position: absolute;
    top: 99%;
    left: 10%;
    height: 200px;
    width: 200px;
    text-align: center;
}

.step5 {
    position: absolute;
    top: 99%;
    left: 35%;
    height: 200px;
    width: 200px;
    text-align: center;
}

.step6 {
    position: absolute;
    top: 99%;
    left: 60%;
    height: 200px;
    width: 200px;
    text-align: center;
}

.ico-structure {
    padding-top: 40px;
    position: relative;
    background-color: #edf2f7;
}

.ico-structure .top {
    position: absolute;
    top: 0;
}

.ico-structure .bottom {
    position: absolute;
    bottom: 0;
}


.limit {
    max-width: 1100px;
    position: relative;
    margin: 0 auto;
}

.min-limit {
    max-width: 1000px;
    margin: 0 auto;
}

.token-ditr {
    background-color: #3c475c;
    padding-top: 60px;
}

.see-github {
    position: relative;
    padding-top: 50px;
    background-color: #edf2f7;
}

.see-github .bottom {
    position: absolute;
    bottom: 0;
}

.see-github .top {
    position: absolute;
    top: 0;
}

.github-block {
    width: 100%;
    background-image: url(../img/github.png);
    background-repeat: no-repeat;
    height: 440px;
    display: flex;
    justify-content: space-around;
    padding-top: 17px;
    margin-top: 40px;
}

.letter-block {
    width: 100%;
    background-image: url(../img/54.png);
    background-repeat: no-repeat;
    height: 260px;
    display: flex;
    justify-content: space-around;
    padding-top: 17px;
}

.letter-block-left {
    width: 42%;
    height: 200px;
    padding-left: 25px;
    position: relative;
}

.letter-block-right {
    width: 46%;
    height: 200px;
}

.headers-content-letter-block {
    color: #3c475c;
    font-weight: 500;
}

.headers-content-letter-block .middle-headers {
    font-weight: bold;
    color: #3c475c;
    font-size: 1.3em;
}

.bold {
    font-weight: 600;
}

.headers-content-letter-block span {
    line-height: 1.8;
    font-size: 0.98em;
}

.money,
.time {
    width: 100%;
    height: 50%;
}

.money img {
    width: 50px;
    margin-top: 40px;
    margin-left: 45px;
    margin-right: 36px;
    float: left;
}

.time img {
    width: 40px;
    margin-top: 45px;
    margin-left: 45px;
    margin-right: 45px;
    float: left;
}

.time-text {
    height: 100%;
    padding-top: 45px;
    font-weight: 600;
    font-size: 1em;
    letter-spacing: 1px;
}

.money-text {
    height: 100%;
    padding-top: 35px;
    font-weight: 600;
    font-size: 1em;
    letter-spacing: 1px;
}

.subtext {
    font-weight: 500;
    font-size: 0.9em;
    color: #a5a5a5;
    letter-spacing: 0px;
}

.button-sq {
    font-weight: 700;
    color: #3c475c;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 5px;
    background: #ffbb00;

    transition: 0.2s;
}

.button-sq:hover {
    background: #3c475c;
    color: #ffffff;
}

.button-sq:active {
    background: rgb(33, 147, 90);
    box-shadow: 0 3px rgb(33, 147, 90) inset;
}

.button-block-git {
    text-align: center;
    margin-top: 60px;
    padding-bottom: 120px;
}

.button-block-git a {
    padding-right: 35px;
    padding-left: 35px;
}

.team {
    position: relative;
    background-color: #ffffff;
    padding-top: 60px;
    /*height: 900px;*/
}

.team .bottom {
    position: absolute;
    bottom: 0;
}

.team .top {
    position: absolute;
    top: 0;
}

.contact-us {
    background-color: #3c475c;
    min-height: 600px;
}

.team-items {
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
    /*padding-bottom: 100px;*/
}

.team-item-unit {
    width: 230px;
    margin: 20px;
    display: inline-block;
    /*border: 3px #62db5c solid;*/
    opacity: 1;
    -webkit-transform: scale(1, 1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 550ms;
    -moz-transform: scale(1, 1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 550ms;
}


.content-values {
    position: relative;
}


.text-block {
    position: absolute;
    top: 60px;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 25px;
    font-weight: 600;
}














/*** transition image START***/

.transition-team {
    position: relative;
    margin: 0 auto;
    display: block;
}

.transition-team img {
    left: 0;
    position: absolute;
    top: 0;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.transition-team img.one {
    opacity: 0;
    filter: alpha(opacity=0);
}

.transition-team:hover img.one {
    opacity: 1;
    filter: alpha(opacity=100);
}

.transition-team:hover img.two,
.transition-team img.two:hover {
    opacity: 0;
    filter: alpha(opacity=0);
}



.img-servises-festival img {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.img-servises-festival img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}






/*** transition image  END***/

.content-values .headers-content-letter-block {
    padding-top: 250px;
    font-size: 16px;
}

.pre-footer {
    position: relative;
    padding-top: 0px;
    background-color: #ffffff;
    min-height: 400px;
}

.pre-footer .bottom {
    position: absolute;
    bottom: 0;
}

.pre-footer .top {
    position: absolute;
    top: 0px;
}












/**contact us logo START**/

.img-servises-festival img {
    width: 130px;
}

.team .servises-ul {
    padding-bottom: 150px;
}

.img-servises img {
    width: 60px;
    opacity: 0.5;
}


ul.servises-ul {
    width: 100%;
    /* max-width: 920px;*/
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
}




/*ul.servises-ul li:first-child {
    margin-left: 0;
}*/

ul.servises-ul li {
    margin: 20px;
    display: inline-block;
}

ul.servises-ul li .img-servises img:hover {
    /*-webkit-transform: scale(1.06,1.06);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 550ms;
    -moz-transform: scale(1.06,1.06);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 550ms;*/
    opacity: 1;
}

ul.servises-ul li a {
    color: #1c1c1c;
    text-decoration: none;
    text-align: center;
}

ul.servises-ul li .img-servises {
    display: block;
    margin-bottom: 17px;
}

.front-section {
    background: url(../img/shtora.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* background-attachment: fixed; */
    min-height: 780px;
    background-color: black;
    /* background-image: url(../img/shtora.png) no-repeat;*/
    /* padding-top: 100px;*/
}

.front-text-orenge {
    display: inline-block;
    font-size: 1.2em;
    margin-top: 30px;
}

.front-text-grey {
    display: inline-block;
    font-size: 0.8em;
    color: #4f596c;
    margin-top: 20px;
}

.front-headers {}

.front-headers div:nth-child(1) {
    padding-top: 200px;
    padding-left: 55%;
    color: white;
    float: right;
}

.front-headers div:nth-child(1)>span {
    background-color: #616a7b4d;
    border-radius: 5px;
    padding: 7px;
    padding-left: 35px;
    padding-right: 35px;
}

.front-headers div:nth-child(2) {
    float: right;

    padding-top: 80px;
    font-size: 55px;
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    color: white;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

.front-headers div:nth-child(3) {
    float: right;
    padding-left: 53%;
    padding-top: 10px;
    color: white;
    position: relative;
}

.front-headers div:nth-child(3) img {
    position: absolute;
    left: 335px;
}

.front-headers div:nth-child(4) {
    float: right;
}

.social-video {
    background-color: black;
}

.video-block {
    width: 100%;
    display: flex;
    padding-top: 90px;
    justify-content: space-between;
}

.video-block-left {
    width: 47%;
}

.video-block-right {
    width: 47%;
}


.advisors {
    background-color: #ffffff;
    position: relative;
    padding-top: 60px;
}

.advisors .bottom {
    position: absolute;
    bottom: 0;
}

.advisors .top {
    position: absolute;
    top: 0;
}

.publicatuon {
    min-height: 400px;
    background-color: #EDF2F7;
    padding-bottom: 40px;
}

.win-win-platform {
    position: relative;
    background-color: #3c475c;
    padding-top: 60px;
}

.win-win-img-block {
    width: 100%;
    text-align: center;
    padding-top: 50px;
}

.win-win-img-block img {
    max-width: 700px;
    border-radius: 20px;
}

.win-win-platform .bottom {
    position: absolute;
    bottom: 0;
}

.win-win-platform .top {
    position: absolute;
    top: 0;
}

.market-challenge {
    position: relative;
    background-color: #EDF2F7;
    padding-top: 60px;
    min-height: 600px
}

.market-challenge .bottom {
    position: absolute;
    bottom: 0;
}

.market-challenge .top {
    position: absolute;
    top: 0;
}

.market-challenge-block {
    width: 100%;
    display: flex;
    padding: 35px 35px 0 35px;
    margin-top: 50px;
    background-color: #ffffff;
    box-shadow: 0px 0px 12px 1px #888888;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 6px;
}

.market-challenge-block div:nth-child(1) {
    width: 50%;
}

.market-challenge-block div:nth-child(2) {
    width: 50%;
    position: relative;
}

.mark-chellenge-rb-text1 {
    position: absolute;
    top: -200px;
    left: 275px;
    font-size: 14px;
    width: 120px;
    text-align: center;
}

.mark-chellenge-rb-text2 {
    position: absolute;
    top: 210px;
    left: 350px;
    font-size: 14px;
    width: 120px;
    text-align: center;
}

.github-block div:nth-child(1) {
    width: 45%;
    margin-top: 40px;
    margin-left: 70px;
    line-height: 1.7;
}

.github-block div:nth-child(2) {
    width: 55%;
    /* position: relative;*/
}

.footer {
    padding-top: 40px;
    min-height: 200px;
    background-color: #3C475C;
}

.footer-container {
    width: 100%;
    display: flex;
    padding-bottom: 80px;
}

.foter-left {
    width: 75%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.foter-right {
    width: 25%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.hr-footer {
    width: 90%;
    height: 10px;
    position: absolute;
    top: 20px;
    left: 52px;
}

.foter-right .hr-footer {
    width: 35%;
    height: 10px;
    position: absolute;
    top: 20px;
    left: 52px;
}

.footer-container-columns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-column-items-left {

    display: flex;
    flex-direction: column;
    width: 33.3334%;
}

.footer-column-items-left .headers-orange,
.footer-column-items-right .headers-orange {
    padding-bottom: 40px;
}

.footer-column-items-right {
    display: flex;
    flex-direction: column;
    width: 100%
}

.footer-column-items-right span,
.footer-column-items-left span {
    padding-bottom: 15px;
    padding-left: 20%;
    /*  padding-left: 30px*/
}

.footer-container-columns a {
    text-decoration: none;
    color: #b0b5bd;
}

.footer-container-columns a:hover {
    color: #fff;
}

.copyright {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #444e62;
    text-align: center;
    color: #908c8c;
}

.copyright a {
    text-decoration: none;
    color: #ffbb00;
}

.boxa {
    text-align: center;
    
    color: #3c475c;
   /* font-size: 0.98em;*/
    font-weight: 500;
}

.boxa a{
    text-decoration: none;
    font-weight: 600;
}
.boxa p{
    line-height: 1.8;
    font-size: 16px !important;
}

/*карусель*/

.slider {
    width: 90%;
    margin: 0px auto;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    /* width: 100%;*/
    margin: 0 auto;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}


.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-active {
    opacity: 1;
}

.slick-current {
    opacity: 1;
}

.boxa .middle-headers {
    padding-top: 20px;
    font-weight: bold;
    color: #3c475c;
    font-size: 1.3em;
}

.boxa .filter-gray {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.boxa .filter-gray:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

@media screen and (max-width: 700px) {
    .slick-prev {
        left: 25px !important;
    }
    .slick-next {
        right: 25px !important;
    }
}



/*карусель*/

@media screen and (min-width: 1350px) {
    .front-section {
        height: 870px;
    }
}

@media screen and (min-width: 1550px) {
    .front-section {
        height: 950px;
    }
}

@media screen and (min-width: 1650px) {
    .front-section {
        height: 1100px;
    }
}