.svg-white{
    fill: #fff;
    stroke: #fff;
}
.svg-grey{
	fill: #777E8D;
	 stroke:  #777E8D;
}
.svg-blue{
	fill: #3c475c;
	 stroke:  #3c475c;
}
.svg-grey-lite{
	fill: #EDF2F7;
	 stroke: #EDF2F7;
}
.svg-black{
	fill: #000000;
	 stroke:  #000000;
}